%a{ name: 'about' }
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1.title-1.title-wide
            The classroom
          %h3.title-2
            The place where you find all the school info

