%a{:name => "services"}
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          Death to the Stock Photo:
          %br>/
          Special Thanks
        %p.lead
          A special thanks to
          %a{:href => "http://join.deathtothestockphoto.com/", :target => "_blank"} Death to the Stock Photo
          for providing the photographs that you see in this template. Visit their website to become a member.
      .col-lg-5.col-lg-offset-2.col-sm-6
        %img.img-responsive{:alt => "", :src => "img/ipad.png"}/
  / /.container
