.container
  %section.section-heading.panel-heading
    %h2.section-title New event
  %section.section-body.panel-body
    = render 'form'
  %section.panel-footer.bg-primary
    = link_to 'Back', events_path, class: 'btn btn-primary'
