%div{ class: day.width_class }
  .weekday-card.panel.panel-info{ class: day.class_name}
    .weekday-header.text-center.panel-heading
      .weekday-name
        = day.name
    .weekday-body.panel-body
      %ul.list-unstyled
        = render_day_events day.events
