@font-face {
  font-family: 'Big Noodle Titling';
  src: url('/assets/bignoodle_titling/big_noodle_titling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'News Gothic Condensed';
  src: url('/assets/news_gothic_condensed_bt/news-gothic-condensed-bt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('/assets/roboto_bold/roboto-bold.eot');
  src: url('/assets/roboto_bold/roboto-bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/roboto_bold/roboto-bold.woff') format('woff'),
  url('/assets/roboto_bold/roboto-bold.ttf') format('truetype'),
  url('/assets/roboto_bold/roboto-bold.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('/assets/roboto_regular/roboto-regular.eot');
  src: url('/assets/roboto_regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/roboto_regular/roboto-regular.woff') format('woff'),
  url('/assets/roboto_regular/roboto-regular.ttf') format('truetype'),
  url('/assets/roboto_regular/roboto-regular.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('/assets/roboto_light/roboto_light.eot');
  src: url('/assets/roboto_light/roboto_light.eot?#iefix') format('embedded-opentype'),
  url('/assets/roboto_light/roboto_light.woff') format('woff'),
  url('/assets/roboto_light/roboto_light.ttf') format('truetype'),
  url('/assets/roboto_light/roboto_light.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

%font-site-title {
  font-family: 'Big Noodle Titling', Serif, sans-serif, Arial;
}
%font-site-subtitle {
  font-family: 'News Gothic Condensed', Serif, sans-serif, Arial;
}

%font-site-bold {
  font-family: 'Roboto Bold', Serif, sans-serif, Arial;
}
%font-site-regular {
  font-family: 'Roboto Regular', Serif, sans-serif, Arial;
}
$base-font-size: 16px;