body {
  @extend %font-site-regular;
  color: $color-grey-1;
  background-color: rgba($site-color, 0.1);
}

a {
  background-color: initial;
}

.header {
  background-color: $color-white;
  padding: 10px 5px;
}