body {
  @extend %font-site-regular;
  color: $color-grey-1;
  background-color: rgba($site-color, 0.1);
}

a {
  color: $site-color;
  background-color: initial;

  &:hover {
    color: $color-green-1;
    text-decoration: none;
  }
}

.header {
  background-color: $color-white;
  padding: 10px 5px;
}