@import 'the_classroom/functions';

.title-1 {
  @extend %font-site-title;
  font-size: 40px;
}

.title-2 {
  @extend %font-site-subtitle;
  font-size: 25px;
}

.title {
  @extend %font-site-bold;
  font-size: 16px;
}

.inline-title {
  display: inline;
  vertical-align: middle;
}

.title-wide {
  letter-spacing: 1.5rem;
}

.title-stretch{
  letter-spacing: 2px;
}